.sidebar{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #FAFAFA;
    padding-left: 45px;
    padding-top: 35px;
    padding-right: 5px;
}
.navItem{
    padding: 5px 0;
}
.activeLink{
    font-weight: bold;
}